<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FB</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>

      {{{ body }}}

  </body>
</html>