

  <header>
    <div class="container">
      <div class="logo"><img src="https://oi1378.photobucket.com/albums/ah83/mamuhh/New%20Project-2_zps2q3glbku.png" alt="logo" width="220px"></div>

      <nav>
        <ul>
          <li><a href="#home-page">Home</a></li>
          <li><a href="#add-the-next-victim">Add User</a></li>
          <li><a href="#share-your-tears">Complaints</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class='new-message'>
      <form action='#'>
        <div class='new-message-title'>
          <label for="message">Create new post</label>
        </div>
        <input class="add-new-message" id="user-input" type="text" placeholder="What would you like to say?" name="msg">
        <button type="button" class="share" id="share">share</button>
      </form>

  </div>

  <div class="feed" id="feed">
    <ul class="posts" id="posts">
      
    </ul>
  </div>




  <footer>
    <div class="container-bottom">
    All rights reserved to your mum
    </div>
  </footer>

    <script type="module" src="static/script.js"></script>
  